*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 10px -1px rgb(83, 76, 76);
    margin-bottom: 5px;

}
.navbar{
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
        
}

.navbar li {
    display: inline;
    padding: 5px;
    margin-top:10px ;
       
}

.navbar li a{
    font-family: 'Nunito Sans', sans-serif;
    color: #333333;
}

.navbar li a:hover{
   color: #be9c79;
   text-decoration: underline;
   
}

.navbar img{
    width: 40px;
    margin: 10px;
    
}


header{
    width: 100%;
   
    height: 700px;
    background-position: left;
    background-image: linear-gradient(90deg, white, transparent 70%), url(../images/home-bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__home{
    width: 900px;
    
}

.header__home h1{
    width: 400px;
    font-family: 'Merienda One', cursive;
    color: #333333;
    font-size: 50px;
    text-align: center;
}

.header__home__p{

    width: 400px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    
}



.header__home__btn{
    width: 400px;
    display: flex;
    justify-content: center;
    
}

.header__home__btn p{
    width: 100px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    background-color: #be9c79;
    color: aliceblue;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.header__home__btn p:hover{
    background-color: #333333;
    cursor: pointer;
}

main{
    width: 100%;
    margin: 0 auto;
}

.main__about{
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

   
}
.main__about img{

    width: 450px;
    
    display: inline-block;
    

}

.main__about__contenido h1{
    width: 450px;
    
    font-family: 'Merienda One', cursive;
    color: #333333;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.main__about__contenido{
    width: 450px;
    display: inline;
    font-family: 'Nunito Sans', sans-serif;
    color: #333333;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    
}


.main__about__btn p{
    width: 100px;
    height: 30px;
    
    margin-top: 10px;
    padding: 5px;
    background-color: #be9c79;
    color: aliceblue;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.main__about__btn p:hover{
    background-color: #333333;
    cursor: pointer;
}

.main__about__btn{
    display: flex;
    justify-content: center;
}

.main__menu__logo{
    width: 180px;
    margin-top: 150px;
    margin: 0 auto;
}

.main__menu__logo h1{
    
    width: 180px;
    font-family: 'Merienda One', cursive;
    color: #333333;
    font-size: 25px;
    margin-bottom: 15px;

}

.main__menu__logo img{
    width: 180px;
    margin-top: 30px;
    
}

.main__menu{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.main__menu__item{

    width: 250px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    
}